menu "MRS Project config"

    config SDA_GPIO
        int "SDA GPIO"
        default 6
        help
            SDA GPIO for the I2C interface.
    config SCL_GPIO
        int "SCL GPIO"
        default 7
        help
            SCL GPIO for the I2C interface.

endmenu