menu "Manager Wifi Project"

    config WIFI_SSID
        string "WiFi SSID"
        default "Unknown"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASS
        string "WiFi Password"
        default "12345789"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config MAX_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

    config AP_SSID
        string "AP SSID"
        default "ESP32_Config"
        help
            SSID for the ESP32 access point when WiFi connection fails.

    config AP_PASSWORD
        string "AP Password (Not used - AP is open)"
        default ""
        help
            Password for the ESP32 access point (currently not used as AP is configured as open).

    config AP_CHANNEL
        int "AP Channel"
        default 1
        range 1 13
        help
            WiFi channel for the ESP32 access point.

endmenu